/.idea/.idea.BedrockRender/.idea/.gitignore
/.idea/.idea.BedrockRender/.idea/.name
/.idea/.idea.BedrockRender/.idea/encodings.xml
/.idea/.idea.BedrockRender/.idea/indexLayout.xml
/.idea/.idea.BedrockRender/.idea/vcs.xml
/BedrockLevelDB/bin/Debug/net8.0/BedrockLevelDB.deps.json
/BedrockLevelDB/bin/Debug/net8.0/BedrockLevelDB.dll
/BedrockLevelDB/bin/Debug/net8.0/BedrockLevelDB.pdb
/BedrockLevelDB/obj/Debug/net8.0/ref/BedrockLevelDB.dll
/BedrockLevelDB/obj/Debug/net8.0/refint/BedrockLevelDB.dll
/BedrockLevelDB/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/BedrockLevelDB/obj/Debug/net8.0/BedrockLevelDB.AssemblyInfo.cs
/BedrockLevelDB/obj/Debug/net8.0/BedrockLevelDB.AssemblyInfoInputs.cache
/BedrockLevelDB/obj/Debug/net8.0/BedrockLevelDB.assets.cache
/BedrockLevelDB/obj/Debug/net8.0/BedrockLevelDB.csproj.CoreCompileInputs.cache
/BedrockLevelDB/obj/Debug/net8.0/BedrockLevelDB.csproj.FileListAbsolute.txt
/BedrockLevelDB/obj/Debug/net8.0/BedrockLevelDB.dll
/BedrockLevelDB/obj/Debug/net8.0/BedrockLevelDB.GeneratedMSBuildEditorConfig.editorconfig
/BedrockLevelDB/obj/Debug/net8.0/BedrockLevelDB.GlobalUsings.g.cs
/BedrockLevelDB/obj/Debug/net8.0/BedrockLevelDB.pdb
/BedrockLevelDB/obj/BedrockLevelDB.csproj.nuget.dgspec.json
/BedrockLevelDB/obj/BedrockLevelDB.csproj.nuget.g.props
/BedrockLevelDB/obj/BedrockLevelDB.csproj.nuget.g.targets
/BedrockLevelDB/obj/project.assets.json
/BedrockLevelDB/obj/project.nuget.cache
/BedrockLevelDB/obj/project.packagespec.json
/BedrockLevelDB/obj/rider.project.model.nuget.info
/BedrockLevelDB/obj/rider.project.restore.info
/BedrockRender/bin/Debug/net8.0/BedrockLevelDB.dll
/BedrockRender/bin/Debug/net8.0/BedrockLevelDB.pdb
/BedrockRender/bin/Debug/net8.0/BedrockRender.deps.json
/BedrockRender/bin/Debug/net8.0/BedrockRender.dll
/BedrockRender/bin/Debug/net8.0/BedrockRender.pdb
/BedrockRender/bin/Debug/net8.0/BedrockWorld.dll
/BedrockRender/bin/Debug/net8.0/BedrockWorld.pdb
/BedrockRender/obj/Debug/net8.0/ref/BedrockRender.dll
/BedrockRender/obj/Debug/net8.0/refint/BedrockRender.dll
/BedrockRender/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/BedrockRender/obj/Debug/net8.0/BedrockR.DA993CB0.Up2Date
/BedrockRender/obj/Debug/net8.0/BedrockRender.AssemblyInfo.cs
/BedrockRender/obj/Debug/net8.0/BedrockRender.AssemblyInfoInputs.cache
/BedrockRender/obj/Debug/net8.0/BedrockRender.assets.cache
/BedrockRender/obj/Debug/net8.0/BedrockRender.csproj.AssemblyReference.cache
/BedrockRender/obj/Debug/net8.0/BedrockRender.csproj.CoreCompileInputs.cache
/BedrockRender/obj/Debug/net8.0/BedrockRender.csproj.FileListAbsolute.txt
/BedrockRender/obj/Debug/net8.0/BedrockRender.dll
/BedrockRender/obj/Debug/net8.0/BedrockRender.GeneratedMSBuildEditorConfig.editorconfig
/BedrockRender/obj/Debug/net8.0/BedrockRender.GlobalUsings.g.cs
/BedrockRender/obj/Debug/net8.0/BedrockRender.pdb
/BedrockRender/obj/BedrockRender.csproj.nuget.dgspec.json
/BedrockRender/obj/BedrockRender.csproj.nuget.g.props
/BedrockRender/obj/BedrockRender.csproj.nuget.g.targets
/BedrockRender/obj/project.assets.json
/BedrockRender/obj/project.nuget.cache
/BedrockRender/obj/project.packagespec.json
/BedrockRender/obj/rider.project.model.nuget.info
/BedrockRender/obj/rider.project.restore.info
/BedrockRender.Console/bin/Debug/net8.0/output/biomemap.png
/BedrockRender.Console/bin/Debug/net8.0/output/cave-y32.png
/BedrockRender.Console/bin/Debug/net8.0/output/heightmap.png
/BedrockRender.Console/bin/Debug/net8.0/output/layer-y64.png
/BedrockRender.Console/bin/Debug/net8.0/output/raw-biome-map.png
/BedrockRender.Console/bin/Debug/net8.0/output/surface-blocks.png
/BedrockRender.Console/bin/Debug/net8.0/BedrockLevelDB.dll
/BedrockRender.Console/bin/Debug/net8.0/BedrockLevelDB.pdb
/BedrockRender.Console/bin/Debug/net8.0/BedrockRender.Console.deps.json
/BedrockRender.Console/bin/Debug/net8.0/BedrockRender.Console.dll
/BedrockRender.Console/bin/Debug/net8.0/BedrockRender.Console.exe
/BedrockRender.Console/bin/Debug/net8.0/BedrockRender.Console.pdb
/BedrockRender.Console/bin/Debug/net8.0/BedrockRender.Console.runtimeconfig.json
/BedrockRender.Console/bin/Debug/net8.0/BedrockRender.dll
/BedrockRender.Console/bin/Debug/net8.0/BedrockRender.pdb
/BedrockRender.Console/bin/Debug/net8.0/BedrockWorld.dll
/BedrockRender.Console/bin/Debug/net8.0/BedrockWorld.pdb
/BedrockRender.Console/bin/Debug/net8.0/ComputeSharp.Core.dll
/BedrockRender.Console/bin/Debug/net8.0/ComputeSharp.dll
/BedrockRender.Console/bin/Debug/net8.0/SixLabors.Fonts.dll
/BedrockRender.Console/bin/Debug/net8.0/SixLabors.ImageSharp.dll
/BedrockRender.Console/bin/Debug/net8.0/SixLabors.ImageSharp.Drawing.dll
/BedrockRender.Console/obj/Debug/net8.0/ref/BedrockRender.Console.dll
/BedrockRender.Console/obj/Debug/net8.0/refint/BedrockRender.Console.dll
/BedrockRender.Console/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/BedrockRender.Console/obj/Debug/net8.0/apphost.exe
/BedrockRender.Console/obj/Debug/net8.0/BedrockR.5F00D4EC.Up2Date
/BedrockRender.Console/obj/Debug/net8.0/BedrockRender.Console.AssemblyInfo.cs
/BedrockRender.Console/obj/Debug/net8.0/BedrockRender.Console.AssemblyInfoInputs.cache
/BedrockRender.Console/obj/Debug/net8.0/BedrockRender.Console.assets.cache
/BedrockRender.Console/obj/Debug/net8.0/BedrockRender.Console.csproj.AssemblyReference.cache
/BedrockRender.Console/obj/Debug/net8.0/BedrockRender.Console.csproj.CoreCompileInputs.cache
/BedrockRender.Console/obj/Debug/net8.0/BedrockRender.Console.csproj.FileListAbsolute.txt
/BedrockRender.Console/obj/Debug/net8.0/BedrockRender.Console.dll
/BedrockRender.Console/obj/Debug/net8.0/BedrockRender.Console.GeneratedMSBuildEditorConfig.editorconfig
/BedrockRender.Console/obj/Debug/net8.0/BedrockRender.Console.genruntimeconfig.cache
/BedrockRender.Console/obj/Debug/net8.0/BedrockRender.Console.GlobalUsings.g.cs
/BedrockRender.Console/obj/Debug/net8.0/BedrockRender.Console.pdb
/BedrockRender.Console/obj/BedrockRender.Console.csproj.nuget.dgspec.json
/BedrockRender.Console/obj/BedrockRender.Console.csproj.nuget.g.props
/BedrockRender.Console/obj/BedrockRender.Console.csproj.nuget.g.targets
/BedrockRender.Console/obj/project.assets.json
/BedrockRender.Console/obj/project.nuget.cache
/BedrockRender.Console/obj/project.packagespec.json
/BedrockRender.Console/obj/rider.project.model.nuget.info
/BedrockRender.Console/obj/rider.project.restore.info
/BedrockWorld/bin/Debug/net8.0/BedrockLevelDB.dll
/BedrockWorld/bin/Debug/net8.0/BedrockLevelDB.pdb
/BedrockWorld/bin/Debug/net8.0/BedrockWorld.deps.json
/BedrockWorld/bin/Debug/net8.0/BedrockWorld.dll
/BedrockWorld/bin/Debug/net8.0/BedrockWorld.pdb
/BedrockWorld/obj/Debug/net8.0/ref/BedrockWorld.dll
/BedrockWorld/obj/Debug/net8.0/refint/BedrockWorld.dll
/BedrockWorld/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/BedrockWorld/obj/Debug/net8.0/BedrockW.723BC7ED.Up2Date
/BedrockWorld/obj/Debug/net8.0/BedrockWorld.AssemblyInfo.cs
/BedrockWorld/obj/Debug/net8.0/BedrockWorld.AssemblyInfoInputs.cache
/BedrockWorld/obj/Debug/net8.0/BedrockWorld.assets.cache
/BedrockWorld/obj/Debug/net8.0/BedrockWorld.csproj.AssemblyReference.cache
/BedrockWorld/obj/Debug/net8.0/BedrockWorld.csproj.CoreCompileInputs.cache
/BedrockWorld/obj/Debug/net8.0/BedrockWorld.csproj.FileListAbsolute.txt
/BedrockWorld/obj/Debug/net8.0/BedrockWorld.dll
/BedrockWorld/obj/Debug/net8.0/BedrockWorld.GeneratedMSBuildEditorConfig.editorconfig
/BedrockWorld/obj/Debug/net8.0/BedrockWorld.GlobalUsings.g.cs
/BedrockWorld/obj/Debug/net8.0/BedrockWorld.pdb
/BedrockWorld/obj/BedrockWorld.csproj.nuget.dgspec.json
/BedrockWorld/obj/BedrockWorld.csproj.nuget.g.props
/BedrockWorld/obj/BedrockWorld.csproj.nuget.g.targets
/BedrockWorld/obj/project.assets.json
/BedrockWorld/obj/project.nuget.cache
/BedrockWorld/obj/project.packagespec.json
/BedrockWorld/obj/rider.project.model.nuget.info
/BedrockWorld/obj/rider.project.restore.info
/BedrockRender.sln.DotSettings.user
