/.idea/.idea.BedrockRender/.idea/.gitignore
/.idea/.idea.BedrockRender/.idea/.name
/.idea/.idea.BedrockRender/.idea/encodings.xml
/.idea/.idea.BedrockRender/.idea/indexLayout.xml
/.idea/.idea.BedrockRender/.idea/vcs.xml
**/obj/
**/bin/